.p1
{
 color: red;
}
span
{
    color: blue;
}
blockquote
{
    background:rgb(190, 182, 182);
    padding:10px;
    width: 1150px;
}

table {
    width: 500px;
    border: 1px solid black;
    margin-left: 213px;
}

table * {
    border: 1px solid black;
}

table caption {
    border: none;
}




